<div class="container">

  <%=bootstrap_form_for([@todoodle, @task]) do |t|%>
    <div class="field">
    <%=t.text_field :item%>
  </div>
  <div class="actions">
    <%= t.submit "Add Task", :class => "btn btn-primary" %>
  </div>
  <%end%>

</div>
